.main-container{
    padding:50px 100px 50px 100px;
    
    
}

.main-menu ul li{
    display: inline;
}
.main-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    margin-left: 20px;
}
.architect-image{
    position: relative;
}
.experience{
    position: absolute;
    bottom: -20px;
    left:-60px;
}
.fact-box img{
    display: inline;
}
 